<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane_Otomasyonu.Properties.Settings.HastaneOtomasyonuDbConnectionString"
            connectionString="Data Source=AKIF;Initial Catalog=HastaneOtomasyonuDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hastane_Otomasyonu.Properties.Settings.Hastane_OtomasyonuConnectionString"
            connectionString="Data Source=AKIF;Initial Catalog=Hastane_Otomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>